[2016-02-20 00:51] chris-gregg opened #1 "Response from proxy.invoke promise not getting returned"
Thanks for the work on this.  One issue I'm experiencing is when making a call to the server with proxy.invoke, the response that I'm sending from the server back to client doesn't seem to be getting returned via the promise.

For example:

            let messagePromise = proxy.invoke('messageToServer', 'hej');
            messagePromise.done((response) => {
                console.log ("response

[2016-02-20 13:25] olofd commented on #1
Hmm, I'll look into this tonight!

[2016-03-03 15:32] olofd commented on #1
@chris-gregg Sry for taking such a long time before looking at this. But it think that what you are receiving in the done-callback is correct. If you want to receive the actual message sent from the server you should set up a listener before calling invoke like this:

            proxy.on('responseFromServer', (response) => {
		console.log("FROM SERVER", response);
	    });
            let message

[2016-03-05 16:38] chris-gregg commented on #1
Hey @olofd, thanks for taking a look. With SignalR you can receive data from the server via a listener/callback as you suggested, but should also be able to access a response from the server via the promise.

I was going to take a look and submit a pull request, but noticed in your last commit that you actually fixed the problem! Looks like the issue was that resolveWith was originally returning t

[2016-03-05 17:00] olofd commented on #1
ah! Great! Sry for the incorrect answer before! Let me know if there are any other issues with the lib!

[2016-03-05 17:02] chris-gregg commented on #1
Will do, looking forward to using this!

[2016-03-07 22:27] olofd commented on #1
@chris-gregg Can you take a look at this:
https://github.com/olofd/react-native-signalr/pull/2

I think there should be an apply there, elsewise I get my data wrapped in an array.
Have you experienced this?

[2016-03-07 23:21] chris-gregg commented on #1
Yeah, you're right. I'm seeing the response encapsulated in an array too.

[2016-03-08 11:08] olofd commented on #1
Great! Thanks for the confirmation. I'll merge and release a new version then.

[2016-03-08 11:10] #1 closed

[2016-03-08 11:10] olofd commented on #1
Release 0.0.6

[2016-03-11 08:24] lesliesam opened #3 ""Error during negotiation request. " error will shown up if the server is down."
Should that exception be caught by the connection.error() function instead of thrown to user?

[2016-03-12 12:36] olofd commented on #3
Yes. Will fix this weekend.

[2016-03-14 20:17] olofd commented on #3
@lesliesam I have moved away from es6-promises now, and use https://github.com/zzdhidden/node-jquery-deferred this instead for better compatibility with signalr. Pleas check out v0.0.7 and see if it works for you!

[2016-03-26 14:43] #3 closed

[2016-04-23 10:23] sammosampson opened #4 "connection failure issue"
When there is no internet connection and a connection.start() is attempted .fail() fires as expected, but the error is propogated out after exiting the fail() closure and we end up with the familiar RN red screen. Any ideas?

[2016-04-24 21:34] olofd commented on #4
Will take a look tomorrow.

[2016-04-30 09:17] sammosampson commented on #4
Any joy on this?

[2016-05-02 17:07] sammosampson commented on #4
Just upgraded from 0.04 to 0.0.7 and all problems solved. Apologies I thought I'd already done this

[2016-05-02 17:07] #4 closed

[2016-05-31 10:56] perkola opened #5 "How to connect to development server?"
I'm following the example code and I've set up a Hub like so:
[code]

And my dev server can be reached from `localhost:64726`. However what do I replace in the following line?
[code]
I have tried `http://localhost:64726`, `http://10.0.2.2:64726` and more but all give the same result:
[code]

Any ideas on how to connet my React Native App to SignalR?

Edit: trying to access `http://10.0.2.2:64726`

[2016-07-06 16:31] cuixiaolu opened #7 "addQs method can't find this method from jquery '$.param'"

[2016-08-04 07:55] perkola commented on #5
**Update**: everything works. Had to use [this tool](https://github.com/icflorescu/iisexpress-proxy) to make it work.

Confirming this package works on Android (tested with RN `0.30.0`.

[2016-08-04 07:55] #5 closed

[2016-08-11 16:50] olofd commented on #7
Please give some more information regarding this. Preferably submit a PR.

[2016-09-08 10:25] jonoirwinrsa commented on #7
This error occurs when trying to add headers as an object to the connection query string eg:
connection.qs = { 'Bearer' : token };
connection.start()...

If you use a serialised string it works

[2016-10-24 14:35] olofd commented on #7
Sry for late response. Do you guys have any idea how to fix this? I can take a look this coming week, but I would want a bit more code that will reproduce the issue.

[2016-10-25 15:32] jonoirwinrsa commented on #7
In my case I ended up not needing the query strings so I'm afraid I don't have a fix..

[2016-10-25 20:33] olofd commented on #7
Ah. Ok. Then, if it's okay with you I'll close this for now. If more people report or have this issue we can open it again.

[2016-10-25 20:33] #7 closed

[2016-11-25 07:57] EmreMengukan opened #11 "not connection SignalR error: undefined"
signals system => html page connection to signalr no problem alone react-native-signalr plugin there is an error

Back end code

[code]

html code

<script src="Scripts/jquery-1.6.4.js"></script>

<script src="Scripts/jquery.signalR-2.2.1.js"></script>

<script src="signalr/hubs"></script>

[code]

html connection no problem

react-native code

[code]

react native chrome debuger console error log

[2016-11-25 08:02] olofd commented on #11
@EmreMengukan You need to enable support for http (non-encrypted connection) in xcode. xcode has this disabled by default

[2016-11-25 08:02] olofd commented on #11
http://iosdevtips.co/post/121756573323/ios-9-xcode-7-http-connect-server-error

[2016-11-25 08:03] olofd commented on #11
Locate your Info.plist (resides in the ios folder) and add this:
[code]

[2016-11-25 08:08] EmreMengukan commented on #11
@olofd  You are the best 👍 :))))

[2016-11-25 08:08] #11 closed

[2016-12-02 13:42] somoso opened #12 "Cannot use websockets on iOS"
I've been developing with react-native-signalr for both Android and iOS with the requirement that the connection *must be* websocket based.

Android works wonderfully. iOS gives me the following crash with `react-native log-ios`:

[code]

Here is the snippet of code used to cause this crash:

[code]

Unfortunately, falling back to long-polling isn't an option for us.

[2016-12-05 09:23] olofd commented on #12
Hmm.. weird. And I guess it's not the same as #11 ? Must be something wrong in the setup/rn-version or something. Hard to guess without repro. Websockets works in iOS on my end of course. Can you somehow debug on the server and see if the connection is received?

[2016-12-09 10:58] olofd commented on #12
@somoso Did you have any success in tracking down this issue? Let me know if I can help in any way. But I will need more info/better debug-scenario to be able to help efficiently.

Will close in a couple of days if I do not hear from you.

[2016-12-09 14:41] somoso commented on #12
Thanks for checking this out - I'll give #11 a go and if that fails, I'll see if I can have access to the actual server and debug it from there.

[2016-12-13 11:14] somoso commented on #12
Just a quick update, I've added NSAllowsArbitraryLoads in my Info.plists file and I couldn't get it to behave. For now I'm going to close this issue, but I'll reopen if I have any questions or issues with react-native-signalr.

Thanks for the help though!

[2016-12-15 14:37] somoso commented on #12
OK, so I've managed to understand what is going on with a little help with Wireshark.

Before we interact with signalr, I go through a login process (mocked for now) which sets the cookie on our end. With Android, it passed those cookies in the header when doing a `GET /signalr/negotiate` call and when doing a `GET /signalr/connect` call. With the iOS app, it passes the cookies in the header in th

[2016-12-15 17:38] olofd commented on #12
Ah. interesting. Of course I have not used this lib with credentials, so there we have our discrepancies. Let me look into this tonight and I'll get back to you.

[2016-12-20 16:47] somoso commented on #12
I've just noticed while browsing your source code that in ajax.js there is an XMLHttpRequest() object which is used to help signalr communicate - I'm wondering if that XMLHttpRequest could do with having `withCredentials: true` being passed in as well as setting it at the signalr level.

[2016-12-21 10:57] somoso commented on #12
So just as a follow up, I've tried adding `withCredentials: true` to the XMLHttpRequest and I saw no improvements. As I was unsure if it was being sent properly, after the line `request.open('GET', options.url);`, I added the line `request.setRequestHeader('x-react-native-header', 'soheb');` to see if my weird header would get passed along the chain - but it didn't!

Using Wireshark, I saw the hea

[2016-12-21 15:17] somoso commented on #12
Right. Got it in the end.

Turns out that react's WebSocket implementation has an undocumented API that passes in headers: http://stackoverflow.com/questions/37246446/sending-cookies-with-react-native-websockets

So after much meddling with the source code, I decided to do a cheeky thing and just monkey patched in my own WebSockets, passing in my own cookies:

[code]

That way, I don't need to kee

[2016-12-21 15:17] #12 closed

[2017-01-10 09:21] jibenziliao opened #13 "sometimes got an error 'No transport could be initialized successfully...'"
It connected failed sometimes,but it worked sometimes.
And I got this error:
"Error: No transport could be initialized successfully. Try specifying a different transport or none at all for auto initialization."

This is my code:
connection.start({transport: 'webSockets'}).done(() => {
  console.log('success');
}).fail(() => {
  console.log('error')
});
connection.error(function(error){
  console.l

[2017-01-10 20:37] dabor238 opened #14 "Not running at all. SignalR error: Undefained"
I try to use this package, but the following error appears. Any help would be really appreciated.

My server info is:
var connection = signalr.hubConnection('https://www.multidoctores.com');
var proxy = connection.createHubProxy('chatHub');

This info is already tasted in Web, Android and Ios native apps.

<img width="703" alt="screen shot 2017-01-10 at 3 33 26 pm" src="https://cloud.githubusercon

[2017-01-10 20:41] olofd commented on #14
Anything related to #12?

[2017-01-10 21:44] dabor238 commented on #14
I don't think that is the same issue, because:
1) the server is HTTPS
2) the hub has no security, you can access it here: https://www.multidoctores.com/signalr/hubs

[2017-01-10 21:47] dabor238 commented on #14
Do I have to configure the hub in any specific way to test the library. Do you have an example of a server side hub that actually works with this library?

[2017-01-10 21:54] dabor238 commented on #14
It tries to negotiate with

[16:41:33 GMT-0500 (ECT)] SignalR: Negotiating with 'https://www.multidoctores.com/signalr/negotiate?clientProtocol=1.5&connectionData=%5B%7B%22name%22%3A%22chathub%22%7D%5D'.

that brings a valid token. but then it gives us the
SignalR error: undefined.

[2017-01-10 22:12] olofd commented on #14
Testing now. Hold on.

[2017-01-10 22:17] olofd commented on #14
@dabor238 I get:
"An SSL error has occurred and a secure connection to the server cannot be made."
Sry. There is a bug in the lib that hides the actual error.

[2017-01-10 22:18] olofd commented on #14
But do this:
Start react-native with chrome dev tools.
Go to sources tab and press cmd + O (mac) ctrl + O (windows) and search for the file ajax.js
should look like this:

`
export default function(options, data) {
  var request = new XMLHttpRequest();
  request.onreadystatechange = (e) => {
    if (request.readyState !== 4) {
      return;
    }

    if (request.status === 200 && !request._hasErr

[2017-01-10 22:20] olofd commented on #14
Now for the error itself I do not know what's wrong exactly. You have any idea?

[2017-01-10 22:26] olofd commented on #14
I now connected successfully to your server by disabling `NSAppTransportSecurity` don't really know why it won't connect without it.

added

[code]
to Info.plist.

[2017-01-10 22:26] dabor238 commented on #14
<img width="1108" alt="screen shot 2017-01-10 at 5 24 42 pm" src="https://cloud.githubusercontent.com/assets/1827355/21827481/cb7eb294-d759-11e6-9944-52d5926cbd1f.png">

_response: An SSL error has occurred and a secure connection to the server cannot be made.

No idea why this happened, we are using this hub on WEB, Native Android and Native Ios, and it works fine.

[2017-01-10 22:32] dabor238 commented on #14
<img width="255" alt="screen shot 2017-01-10 at 5 30 49 pm" src="https://cloud.githubusercontent.com/assets/1827355/21827644/97df1824-d75a-11e6-8537-fd4b144b35c1.png">

I added at the end, my final info.ptlist looks like, but still have the same error. Thanks very much for your help. Do you know what am I doing wrong?

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PL

[2017-01-10 22:33] dabor238 commented on #14
I added at the end and still doesnt work.

<img width="255" alt="screen shot 2017-01-10 at 5 30 49 pm" src="https://cloud.githubusercontent.com/assets/1827355/21827700/cd2e6bba-d75a-11e6-97eb-2c9197007436.png">
<img width="542" alt="screen shot 2017-01-10 at 5 32 56 pm" src="https://cloud.githubusercontent.com/assets/1827355/21827712/d8d57526-d75a-11e6-9ee2-d0f8405d1284.png">

[2017-01-10 22:35] olofd commented on #14
Hmm.. might be incorrectly formated.

This i my entire Info.plist in XML:

[code]

Try opening yours in xcode and see if it can open it.

[2017-01-10 22:46] dabor238 commented on #14
olofd: the boy wonder, the kid, the miracle man. the phenomenon, the unstoppable. It Works.

<img width="1215" alt="screen shot 2017-01-10 at 5 43 36 pm" src="https://cloud.githubusercontent.com/assets/1827355/21828106/bc47f684-d75c-11e6-841f-21ef3fe538e1.png">

[2017-01-10 22:49] olofd commented on #14
Haha 👍 Happy to help out. But I will take a look at two things:
1. Why you need that Info.plist edit (will also make a mention about these issues in the readme)
2. That `undefined` error-value needs fixing.

Will do that in the next couple of days when I have time.

But let me know if there is anything else and good luck with your project!

[2017-01-10 23:07] dabor238 commented on #14
My dear friend.

look at this http://stackoverflow.com/questions/32495059/ios9-will-nsallowsarbitraryloads-true-be-allowed-for-a-release-in-the-app-store

It appears that this fix will couse some problems for a release in the app store.

[2017-01-10 23:27] olofd commented on #14
@dabor238 I found the root issue.
Your server uses TLS 1.0. Old and insecure.
So xcode refused it. You should look at upgrading.
But. You what can do this and set an exception for your domain only to use TLS1.0.
This should have no problem in App Store. (Even though the other version with allowing all is no prob. either, have released multiple apps with it.)

Here is the Info.plist with the except

[2017-01-11 00:32] dabor238 commented on #14
Thank so much for the information

[2017-01-11 00:32] #14 closed

[2017-01-13 18:42] vahidhiv commented on #13
I use the sample code and watching console. It can't connect through websocket and trying to downgrade and finally it is connecting through long polling. What 's wrong?
Is it related to server's signalr version or something?

[2017-01-14 09:28] olofd commented on #13
@vahidhiv Very hard to tell what's wrong from these vauge descriptions.

[2017-01-14 09:29] vahidhiv commented on #13
@olofd I can send whatever is needed!
Log of console is enough?

[2017-01-14 09:30] olofd commented on #13
Start with that. post I here.

[2017-01-14 19:33] olofd commented on #13
@vahidhiv @jibenziliao I've just released 0.0.11. It contains a fix for suppressed error messages. It also contains a new README.md with new test code that runs agains a test-server I've setup in Azure. @jibenziliao Please see if you can reproduce your error against the test-server and also post the logs you already have!

[2017-01-14 19:35] olofd commented on #14
@dabor238 FYI: I've just released 0.0.11 on npm. I should contain a fix for the `undefined error`-problem you faced earlier. Please update and let me know if something is not working. Have you had any other issues?

[2017-01-16 07:29] jibenziliao commented on #13
It always works fine with test test-server.
<img width="1251" alt="success" src="https://cloud.githubusercontent.com/assets/12134347/21974182/23c3c228-dc00-11e6-80ed-b236041c3638.png">
I think there is something wrong with my server or the network.
<img width="1273" alt="bug" src="https://cloud.githubusercontent.com/assets/12134347/21974191/2e131be8-dc00-11e6-9650-724207fd6d66.png">
If I use the o

[2017-01-16 07:32] #13 closed

[2017-01-16 09:03] olofd commented on #13
Ah. Glad that the test server came to use. Good luck finding your bug!

[2017-01-18 07:44] kevinNgws opened #15 "Server side OnConnected() not triggered"
Server side OnConnected() is not been called whenever the client establishes a connection.
`public override Task OnConnected()
        {
            return base.OnConnected();
        }
`
The same goes to OnDisconnected().

Even though the server method is not been called, there is still a connection between the client and server, and a connection id is generated.

Please advice.
I'm using the fol

[2017-01-18 07:47] olofd commented on #15
Post some sample js-code here please. (I have used OnConnected with this library before and it should work).

And please update to `react-native-signalr : 1.0.0`

[2017-01-18 07:55] kevinNgws commented on #15
The code as below:
`connection = signalr.hubConnection(socketUrl);
    connection.logging = true;

    proxy = connection.createHubProxy(Constant.PROXY_HUB);

    return (dispatch) => {
        connection.start().done(() => {
            Reactotron.log('Now connected, connection ID=' + connection.id);

            dispatch({
                type: ActionTypes.ESTABLISH_CONNECTION_SUCCESS,

[2017-01-18 08:05] kevinNgws commented on #15
Hi,
There is still issue with the server method not being called, even though i had upgraded to 1.0.0

[2017-01-18 08:11] olofd commented on #15
It works here if I add a listener to the hub.
Tested on example project and it works.
I think you need to do this in signalr.

[code]

[2017-01-18 08:19] olofd commented on #15
My explanation for this: SignalR is a bit strange here. But you established a successful connection to the server by calling connection.start().
But you did not connect to your Hub. You only do this if you set up listener for that hub before calling connection.start. And lifecycle-events are only handled on the hub itself.

[2017-01-18 08:21] kevinNgws commented on #15
Yes, it works!

Strange indeed!
Nonetheless, thank you so much for the support!

[2017-01-18 08:22] #15 closed

[2017-01-19 17:18] ezyone123 opened #16 "undefined is not an object: window.document.location.protocol"
I am getting an error that I believe is coming from the example project leaking into the include. It is coming from jquery.signalR.js.

My import looks like this: `import signalr from 'react-native-signalr';` and I installed the library using `npm install react-native-signalr --save`

Any thoughts?

![img_0767](https://cloud.githubusercontent.com/assets/2058024/22117219/2dc8c7c6-de41-11e6-941c-ee1

[2017-01-19 17:19] olofd commented on #16
iOS? Hmm.. Version 1.0?

[2017-01-19 17:22] ezyone123 commented on #16
``"react-native-signalr": "^1.0.0"`

That is from my package.json.

[2017-01-19 17:23] olofd commented on #16
react-native version ?

[2017-01-19 17:23] ezyone123 commented on #16
0.40.0

[2017-01-19 17:24] ezyone123 commented on #16
Is there any way the jquery library in the server example would be included with the native package ?

[2017-01-19 17:24] olofd commented on #16
hmm.. testing a fresh project here right now... I'll report back soon.

[2017-01-19 17:25] ezyone123 commented on #16
THANKS SO MUCH!

[2017-01-19 17:46] olofd commented on #16
@ezyone123 hmm.. no problems here on a fresh project. RN 0.40 and rn-signalr 1.0.
The package.json:

[code]

It might be that signalr-library conflicts with some other dependency you have.
Could you post your package.json, or only the dependencies you have?

that window.location thing is a global hack that needs to be there for signalr-client to function. Nothing that awful, but it might conflict.

[2017-01-19 17:48] ezyone123 commented on #16
[code]

[2017-01-19 17:49] ezyone123 commented on #16
I am using a error reporting service, its the fabric dependency.

[2017-01-19 17:53] olofd commented on #16
Yes. I know fabric. I'll try installning all your dep and importing them before signalr and see if I can reproduce. You can try removing the others on at a time maybe. and see if you can get it running. You should also try a fresh project like i did with `react-native init` to see that it's not an issue with your env.

[2017-01-19 18:10] ezyone123 commented on #16
importing your library into the root of my app does not result in any errors.

[2017-01-19 18:16] ezyone123 commented on #16
and it only happens when I call connection.start

[2017-01-19 18:31] ezyone123 commented on #16
I went though all my dependencies and none (other than yours) have a jquery dependency

[2017-01-19 18:35] olofd commented on #16
Weird. The only way I can help you further is by testing you acutul source-code. If it's not that private of a project you can zip it and mail it to me at olof.dahlbom@me.com and I'll take a look.

[2017-01-19 19:06] ezyone123 commented on #16
Turns out it was the URL I was passing in for the server. Is there a check to make sure the URL is a proper URL?

[2017-01-19 20:24] olofd commented on #16
@ezyone123 Ah! Then there must be something here : https://github.com/olofd/react-native-signalr/blob/master/src/bridge.js#L28 Could you set a breakpoint there and see what goes wrong?

[2017-01-20 10:29] olofd commented on #16
@ezyone123 Did you solve this? Please close the issue if you found a solution.

[2017-01-22 18:32] olofd commented on #16
Closing

[2017-01-22 18:32] #16 closed

[2017-01-22 22:15] ezyone123 commented on #16
I am sorry for not updating. The issue was the url passed in was what was causing the issue. Hard linking the url worked and I will later be testing getting the url set in a var. Ill update with findings. Thanks for closing.

[2017-01-27 14:15] thomasvm commented on #7
I've encountered the same scenario, needed the `.qs` for authentication to work on signalr hubs. Ended up adding the following code to my own project in order to polyfill `jQuery.param`

[code]

[2017-03-02 21:09] WellMafra opened #19 "This browser doesn't support SSE."
I'm working with Android simulator, and I'm receiving the error:

![error signalr](https://cloud.githubusercontent.com/assets/7647730/23526939/b1c1ecea-ff72-11e6-8d7a-fd9afb3a3fe7.PNG)

Additional Info:
Windows 10 64bits
Android: Nexus_5X_API_25_x86 - Android 6.0
Node: 3.10.10
React-native:  0.41.2
React: 15.4.2
react-native-signalr: 1.0.0

[2017-03-02 21:12] olofd commented on #19
hmm.. I have no idea why that is.. webSockets should not fail on android. But I have no test environment here, so I have to send you hunting by yourself for that bug. look at the closed issues, have had some connection issues before, and you might find something there.

Can maybe help you out in a couple of days if you have not solved it by then. really busy here right now with other projects.

[2017-03-02 22:22] jp928 commented on #19
Make sure you opened websocket on server side. Test is quite simple. Make a test.html and add all the javavascript dependencies.

[2017-03-03 12:41] WellMafra commented on #19
On my webproject, I'm always receiving the error:

![erro websocket2](https://cloud.githubusercontent.com/assets/7647730/23551476/869ec366-fff5-11e6-888e-915124d5b7c7.PNG)

But, it connects normally. I do not know if there is something wrong on my IIS or web.config

[2017-03-04 21:38] pardahlman opened #20 "Compatibility with Webpack 2.2.0"
Hej!

First of, great work with this lib 👌 . I can wait until Microsoft releases their re-take on SignalR, so that we finally can get rid of the jQuery dependency altogether. Until then, I thought I'd try out this neat workaround.

The project I'm currently working on uses the latest version of Webpack (2.2.1). I get the following error when trying to import from the module

[code]

It looks like

[2017-03-05 18:26] pardahlman commented on #20
I found a package that uses your jQuery shims to achieve the same goal: [signalr-no-jquery](https://github.com/DVLP/signalr-no-jquery). Webpack 2.2 and my `.babelrc` didn't complain, so I have a viable workaround!

[2017-03-05 20:33] olofd commented on #20
@pardahlman  : FYI That is a fork of this library and does not include som of the latest bugfixes.

[2017-03-05 20:38] olofd commented on #20
Try installing version 1.0.1 and see if that works.

[2017-03-05 20:41] olofd commented on #19
Any progress here?

[2017-03-06 01:01] jp928 commented on #20
In my case, the version 1.0.1 cases the ms-singlar-library cannot find jquery library anymore. Please test it.

[2017-03-06 08:07] pardahlman commented on #20
@olofd thanks for the update. I'll give it a go later this week end report back!

[2017-03-06 08:13] pardahlman commented on #20
As a side note, I cloned your source code and changed `module.export` to `default export`, but chrome complained about changing read-only props on window. I didn't investigate further, but I'll post the actual error if it occurs under 1.0.1. (The problem could be the way I built the lib, what's your build process like?)

[2017-03-06 08:14] olofd commented on #20
There is a problem with 1.0.1. FIxing it now. 1.0.2 out in 10min.

[2017-03-06 08:22] olofd commented on #20
Fixed. Install version 1.0.2 and try it out. Worked here.

[2017-03-07 01:04] sophanox commented on #19
Hey olofd,

Sorry to hijack this thread but I've had a nightmare getting websockets to connect and I have finally just solved it. They would very occasionally connect in my case, with no apparent reasoning behind it.

What I found was that if I disabled remote debugging it worked completely fine. I'm thinking the debugging must add some sort of overhead which cause the websocket connection to not

[2017-03-08 13:38] olofd commented on #20
@perkola When you have the time to test, and if it works, please close this issue.

[2017-03-08 13:43] perkola commented on #20
@olofd sorry I have not used this package with Webpack for some time. I am not sure how involved I am.

[2017-03-08 13:45] olofd commented on #19
@sophanox Interesting. If you have the time, please add this to the README.md, or write up something I can paste there and I'll commit it straight up.

[2017-03-08 13:46] olofd commented on #19
@WellMafra Any progress on your side?

[2017-03-08 13:47] olofd commented on #20
haha so sry @perkola. Githubs auto-complete gave me you! Of course I meant @pardahlman .
Hope everything's well at least @perkola !

[2017-03-08 14:02] perkola commented on #20
Haha yeah I figured after reading the full discussion. Thank you! All is well :smiley:

[2017-03-14 07:07] oatcrunch opened #21 "Problems with signalr transportation"
Hi,

I am working on a simple POC using react-native-signalr. However, when I attempt to connect to my hub (ASP.NET Signalr hosted on my own IIS), I got an exception saying "No transport could be initialized successfully. Try specifying a different transport or none at all for auto initialization". I believe some setting could have gone wrong. How do I fix this problem?

Appreciate some kind help.

[2017-03-14 11:56] olofd commented on #21
Have you tried the testserver that is referencednin the readme? Try connecting to that and see if it works.

[2017-03-18 21:28] olofd commented on #20
Closing after no replay from @pardahlman

[2017-03-18 21:28] #20 closed

[2017-03-18 21:29] olofd commented on #19
Closing after no replay from @WellMafra

[2017-03-18 21:29] #19 closed

[2017-03-18 21:29] olofd commented on #21
@oatcrunch Any progress here?

[2017-03-19 15:07] oatcrunch commented on #21
Hi @olofd , thanks for the follow up. I tried the test server and it was okay.

I am not sure why I can't connect to my own hub. I tried using ASP.NET client on C# to connect to my hub and it works.

Below is my code snippet:

componentDidMount() {
        let qs = "username=rendang";
        //let url = "http://192.168.93.139/SignalRHub";
        let url = "http://192.168.0.171/SignalRHub";

[2017-03-19 15:09] olofd commented on #21
Hmm.. might be that your using an IP-adress as url.. Can you see in the network-tab or anything if it's connecting to the correct url?

[2017-03-19 15:12] olofd commented on #21
I saw a fork of this library that had changed something about how the url was handled, take a look:
https://github.com/lemming/react-native-signalr/commit/59b717afb7e9a4ef447c7be43d6cd6d2b89d0ca6

Try changing the source in your node_modules folder to this, then restart the packager for RN so it recompiles the node_modules. See if it helps. Just guessing here and giving you some point, have no way

[2017-03-20 05:19] oatcrunch commented on #21
Hi @olofd , I updated my node_modules as suggested. Good news is, I finally managed to connect to my hub. However, I have another problem. In my ASP.NET SignalR hub, upon successful connection, I attempt to return a dummy string ("123" and "321") back to RN client (refer below C# code).

//code in ASP.NET Hub
public void Send(string eventName, dynamic data)
        {
            var connId = Conte

[2017-03-20 08:49] olofd commented on #21
@oatcrunch Please start a new issue if you have another issue with the library!

I would like to keep this issue to the bug about the url with path and the resolving of that bug. (We need to update the library here.) I've reached out to @lemming about a PR for this, but he has not yet responded.

I'll give him two more days, then I'll create the PR.

[2017-03-21 02:36] oatcrunch commented on #21
Hello @olofd . Yes, I have tested your test server and it worked well. I managed to connect to it, and got server responses as well. I am currently still working on my own set of code and try to make it work. Will update you again once things are working.

I will create earlier mentioned query in a separate thread then. Thanks again for your help! Cheers!

[2017-03-21 03:34] oatcrunch commented on #21
Update:

After a few rounds of thorough tests, I finally made it work on my code. I did some re-arrangement of my code and changed some return parameters. Kindly refer updated code:

RN Code:
-----------

componentDidMount() {
        let qs = "username=rendang";
        let url = "http://192.168.93.139/SignalRHub";

        let fullUrl = url;// + "?" + qs;

        //alert(fullUrl);
        const

[2017-03-21 04:02] oatcrunch opened #22 "Question: Using Query String"
Hi,

Just a simple query, how do I include query string using this library? The example in C# would be as follows:

var qs = "username=rendang";
            var url = "http://192.168.93.139/SignalRHub/";
            hubConnection = new HubConnection(url, qs);

Do we have the equivalent way of doing this? I tried using the traditional way using this library, but doesn't seem to work ie:

let qs = "

[2017-03-30 10:04] oatcrunch commented on #22
Hi, is there any kind soul with the knowledge to help on the above query? If the this feature exists kindly provide some guidance on how can it be done; or any workaround will also be fine.

Thanks in advance.

[2017-04-03 11:40] emirsnck opened #23 "SignalR error: Error during negotiation request. Handshake failed"
Hi, I'm getting an error
My backend code
[code]
startup.cs
[code]

react native code:
[code]

react native chrome debuger console error log ;

![capture](https://cloud.githubusercontent.com/assets/9586282/24607505/cfb73694-187a-11e7-9d75-a2810666d376.PNG)

[2017-04-03 12:02] jp928 commented on #23
On server side, try to enable CORS.

[2017-04-03 12:23] olofd commented on #22
I think you do it this way, by sending it in the options-object.
[code]

Let me know if it does not work!

[2017-04-03 12:31] olofd commented on #21
@oatcrunch lemming@59b717a is now in master and published on NPM under 1.0.3

[2017-04-03 12:37] emirsnck commented on #23
i solved this problem ,
i changed https to http and 10.26.12 this ip permission reach to localhost and its work :)

[2017-04-03 12:37] #23 closed

[2017-04-03 12:37] olofd commented on #23
FYI. New version just published 1.0.4.

[2017-04-03 15:47] #21 closed

[2017-04-04 10:52] oatcrunch commented on #22
Hi @olofd . I have tested your suggested method. It works :) Thanks for your help.

[2017-04-04 11:27] olofd commented on #22
@oatcrunch Great! Then I'm closing this issue.

[2017-04-04 11:27] #22 closed

[2017-04-21 15:53] Mactub07 opened #24 "JS Exception: Cannot read property 'supportsKeepAlive' of null"
step to reproduce
- open app
- open another app (our app is inactive)
- wait for 1-3 min
- app crashed with exeption : Cannot read property 'supportsKeepAlive' of null

use RN-0.43 , pls help

[2017-04-21 16:06] olofd commented on #24
Does it happen in an entirely fresh project. Like only with the code in the readme? Can you post any kind of stacktrace?

[2017-04-21 16:09] Mactub07 commented on #24
http://joxi.ru/gmvzY7Dc9yGMma

[2017-04-21 16:12] Mactub07 commented on #24
![img_3430 png](https://cloud.githubusercontent.com/assets/13048119/25286444/6f8ec2d2-26c6-11e7-934c-7c523ab13ae7.jpg)

[2017-04-21 16:14] olofd commented on #24
👍. Will take a look at it tonight. Will get resolved quick. Think I know the cause.

[2017-04-22 12:17] olofd commented on #24
I can not reproduce here in simulator. Can you supply project? in zip or github-repo?

[2017-04-24 17:23] osmanov opened #25 "what is best way for catching server errors without red screen of death"
Awesome module,thank you very much for your work!
I have a question-what is the best way for catching  server errors without red screen of death?

[code]
Thank you!

[2017-04-26 12:03] Mactub07 commented on #24
unfortunally no, I cann't share you commercial project :(

[2017-04-26 12:05] olofd commented on #24
But can you reproduce in a fresh project?

[2017-04-27 12:09] epodgaetskiy commented on #25
I have same problem.

[2017-04-28 19:34] Mactub07 opened #26 "how manually stop connection?"
I can fire connection with "start" method , but how I can manually stop one?

[2017-05-11 18:09] boliveira commented on #24
Hi,

I am having the same problem. Can't share with you as well the code but I can tell you that I am using only websockets as transport and I am running on Android 6.0.1 (Xiaomi Redmi Note 4)

[2017-05-23 16:01] Kimmen commented on #24
Hi, I'm getting this problem as well. As with the others I can't share my project and I haven't taken my time to create a new one. But I've taken my time to investigate this. I've attached a screenshot of the stacktrace where it crashes (I didn't have the time to lookup whether you could export it or not):
![stacktrace](https://cloud.githubusercontent.com/assets/1217354/26362395/13c89406-3fde-11e7

[2017-05-29 14:39] brunobraun opened #27 "Set hubProxy to variable"
Hello,

is it possible to set a HubProxy to a variable and access its methods?
For example:

[code]

[code]

If the .on method is within conectarChat() function it works perfectly.

Thanks,
Bruno

[2017-06-07 02:23] kevinNgws opened #28 "Fails to send '&'"
Hi,
I tried sending '&' from the client to the server as shown below:
`let fake = {key:'Helloworld', user:{name:'&', statement:'test', avatar:'http://graph.facebook.com/1015477/picture?type=square&width=300&height=300'}}`

and I got this error:
`[JsonReaderException: Unterminated string. Expected delimiter: &quot;. Path &#39;A&#39;, line 1, position 89.]
 Newtonsoft.Json.JsonTextReader.ReadStringI

[2017-06-08 03:02] kevinNgws opened #30 "Clients.Group(ChannelId) does not work when using backplane"
Hi,
Im using Redis as backplane for my server which is behind a AWS Load balancer.

The simulated environment as follows:
Clients:
Client 1: Web browser with Signalr JS installed
Client 2: React-native app

Server:
C# Server with Signalr and Signalr Redis installed

When a client join a chat room, it will invoke a server method (JoinChat) and the server will broadcast a message to everyone who is

[2017-06-09 02:48] kevinNgws commented on #30
I managed to get it working with the below steps:
1. Turn on stickiness for AWS load balancer
2. Configure a machine key in the iis
3. Switch from HTTP 80 to TCP 80 at the load balancer

[2017-06-09 02:48] #30 closed

[2017-06-15 17:54] thomasvm commented on #26
`connection.stop()` works for me

[2017-06-15 18:30] brunobraun commented on #27
This works for the .invoke method: this.proxy_signalr =  connection.createHubProxy('chatHub');

I changed my logic to let the .on methods access signalr proxy inside the main method and solved my problem.

[2017-06-15 18:30] #27 closed

[2017-06-20 12:10] brunobraun commented on #25
Same problem. I created a handler for the AppState change so when the app state = "background" I stop the connection.. something like this:

[code]

and I restarted the connection in the "disconnected" signalr event...

for my needs, it worked, hope it can help you

[2017-06-20 12:15] osmanov commented on #25
Thanks @brunobraun, it helped me.

[2017-06-20 12:15] #25 closed

[2017-06-20 12:28] brunobraun commented on #24
I suggested an approach in #25

[2017-07-06 14:14] tmdude9586 opened #31 "Cannot add authorization header"
I'm trying to connect to my hub, however it requires an Authorization header to be present. I'm looking through the code and documentation, and I cannot find anyway to add said header to the XMLHttpRequest that gets sent.

Due to this I get 401s during the connection. Is there any way to add headers currently?

[2017-07-10 15:17] dengue8830 commented on #24
anyone knows how to catch this exception? i want to prevent the red screen of dead

[2017-07-10 20:41] dengue8830 commented on #25
In my case, stopping it in the background gave me a problem, when I started signalr it was stays stuck in connecting state, and only connected when i came back to the app. So i stopped and restarted signalr on 'active'  AppState

[2017-07-27 09:45] manjeets12 commented on #25
@brunobraun sample code please, I mean more than that _handleAppStateChange change function.Will be great help
Thanks

[2017-08-09 11:39] boliveira opened #32 "Subtle bug in jquery-function"
Hi!

I found a very subtle bug in jquery-function that impacts the functioning of this library with signalr client.
It's about this line of code:

`const events = subject.events || {};`

You are caching the events instance and using that reference to call the bind, unbind and triggerHandler functions. That is a problem because signalr caches this reference sometimes but other times it doesn't and

[2017-08-17 01:24] AdamPD commented on #24
I have the same issue and may be able to provide some sample code.  I'll first see if I can fork and fix and provide a PR though.

[2017-08-20 16:27] xahon commented on #31
Looking source code i have found that:
![image](https://user-images.githubusercontent.com/18731681/29496555-3970e890-8618-11e7-96d3-330f66ff1d13.png)
I think passing headers should be like `signalr.hubConnection(host, { headers: myHeaders })`

[2017-08-24 15:14] xahon commented on #31
Looks like my guess is not working

[2017-08-25 14:42] xahon commented on #31
I just used query string to pass my headers in url. Passing qs instead of headers in my prior message as object will throw an error. I've created PR

[2017-08-28 11:27] xahon commented on #24
+1

[2017-09-14 03:02] ray-shawn opened #35 "$.param issue"
It lacks of method $.param when I am using qs , and also I saw you guys added a commit in file signalr-jquery-polyfill.js, could you please release it first, thanks in advance.
       cors: true
[code]

[2017-09-26 03:24] prakashw3expert opened #36 "Cannot set property 'createElement' of undefined"
I'm getting this issue when try to start connection in disconnected function.

Cannot set property 'createElement' of undefined

The issue is coming on this line of signalr index file

`hubConnectionFunc.start = (...args) => {
      window.document.createElement = () => {
        return {
          protocol,
          host
        };
      };
      window.location = {
        protocol,
        hos

[2017-09-26 08:45] emirsnck commented on #36
I have the same problem +1

[2017-09-26 08:51] emirsnck commented on #36
it may be related to this commit https://github.com/olofd/react-native-signalr/commit/95d8ca31ab3985099464187a6a1ed0def658370c

I will try again after updating

[2017-09-27 15:47] SSkovboiSS opened #37 "SignalR Core support"
Does your module support new SignalR Core https://github.com/aspnet/SignalR?

[2017-09-30 07:01] PanRu commented on #35
We need this too

[2017-10-14 14:07] OZhang opened #38 "Error during negotiation request. Failed to connect to localhost/127.0.0.1:8888"
It's working well when the signalr service deploy on the azure. Thanks.
But I also want to debug the signalr serivce on local computer with IIS Express, using code:
 connection = signalr.hubConnection('http://localhost:8888/');
But it always got error:
SignalR error: Error during negotiation request. Failed to connect to localhost/127.0.0.1:8888

Does anybody know how I could fix this issue?

Than

[2017-10-17 02:55] ftb2010 opened #39 "null is not an object (evaluating 'conection.transport.supportsKeepAlive')"
after app run in background for a few minutes ,this bug will show

[2017-10-25 17:25] joyceljy opened #40 "Group cannot receive message"
Hi,
Im using Azure as server.

And my environment is as follows:
Client 1: Web browser with Signalr JS installed
Client 2: React-native app

Server:
Asp.net C# Server with Signalr

When a client invoke a message , people in the group will receive messages.
My web browser(Client1) received message successfully but my react-native app (Client2) didn't.

` componentDidMount() {
        //signalr

[2017-10-29 21:33] olofd commented on #32
Nice find! And very good reporting. I do undertand the issue.

Do you have any code that fixes the problem? Anything you can post here?
Otherwise you could maybe post a reproduce senario or something?

Olof

[2017-10-30 08:40] rakeshbijoriyagate6 commented on #26
connection.stop() not working...

[2017-10-30 09:14] boliveira commented on #32
The way I solved it was to move the line `const events = subject.events || {};` to the inside of every emulated jquery function (unbind, bind, triggerhandler) like this:

`unbind(event, handler) {
      const events = subject.events || {};
      let handlers = events[event] || [];

      if (handler) {
        const idx = handlers.indexOf(handler);
        if (idx !== -1) {
          handlers.spli

[2017-10-30 10:46] olofd commented on #32
Ah! Great, than I understood you correctly.
I did a change here last night before pushing the new version.
I did not do any difference for basic functionality, so I included what I thought might work.
Can you take a look here:

https://github.com/olofd/react-native-signalr/blob/master/src/jquery-function.js#L16

And test out the new version on npm that the problem is solved?

[2017-10-30 12:33] boliveira commented on #32
Hi again :)

Unfortunately with the new version I have another error when connecting to SignalR: "method GET must not have a request body"

I traced it to this line in ajax.js

`request.send(options.data && qs(options.data));`

It seems options.data is an empty object and it's always true, so it will try to send an empty body, even when there is no body to be sent.

If I set options.data = null be

[2017-10-30 13:15] brunobraun opened #41 "Error: Method GET must not have a request body"
I can't use the function:

connection.start().done(() => {

as shown in the example.

This error occurs: Method GET must not have a request body.

"react": "16.0.0-beta.5"
"react-native": "0.49.3"
"react-native-signalr": "^1.0.5"

[2017-10-30 13:18] Kebabpizza commented on #41
Same.

![image](https://user-images.githubusercontent.com/5185795/32172792-1cb64ce4-bd7d-11e7-9710-c99e53d3e944.png)

[2017-10-30 13:52] olofd commented on #41
Fixing this tonight. Error mentioned here as well #32. New issue after yesterdays release. Use version 1.0.4 for now!

[2017-10-30 13:54] olofd commented on #41
For reference. this changed introduced the issue I believe: https://github.com/olofd/react-native-signalr/commit/e3a8238b7f0da0b5d9d27826952896669bfde653

[2017-10-31 09:38] joyceljy commented on #39
+1 waiting for author's response

[2017-10-31 09:40] olofd commented on #39
Hello!
Can you please supply a scenario to reproduce?
Set the keepAlive to a short time on server if needed.

Olof

[2017-10-31 11:06] olofd commented on #41
Should be fixed on npm 1.0.6

[2017-10-31 11:07] #41 closed

[2017-10-31 11:08] olofd commented on #40
Don't know what you are doing wrong here. Did you get it working?

[2017-10-31 11:09] olofd commented on #38
Don't know why it fails. Have you tried running it by using IIS and not IIS express? I used IIS locally.

[2017-10-31 11:10] olofd commented on #37
As I understand it SignalR Core does not need an additional package and will be able to run nativly on React Native. It has no dependency on jQuery for instance.

Have you tried to include their client in your app straight up?

Will close.

[2017-10-31 11:10] #37 closed

[2017-10-31 11:11] olofd commented on #36
Should be fixed after PR.

[2017-10-31 11:11] #36 closed

[2017-10-31 11:12] jp928 commented on #40
@joyceljy
Didn't see you have join group function.

[2017-11-14 08:34] daominhsangvn commented on #40
@olofd I got the same issue,
From the C# backend, I'm using method `Clients.Group(roomName).addMessage(...);` to send message to a group.
From the React-Native, i invoke a method to join a group and listen callback `addMessage`.
The callback `addMessage` never fired even i triggered from the api while the browser is working.

If i run the app from the react-native command `$ react-native run-ios`,

[2017-11-28 01:34] ray-shawn commented on #35
It was addressed by latest version 1.0.6

[2017-11-28 03:04] ray-shawn opened #42 "How to handle red screen error when we turn off wifi after it is connected under debugger mode."
java.net.SockectException: Software caused connection abort
executeJS call websocketJavascriptExecutor.java: 188

It displays red screen error when I turn off wifi after it is connected in debug remote mode, do you guys know how to get rid of this error, any idea is good?
thanks.

[2017-12-29 18:35] foyarash opened #43 "Using transport webSockets gives error"
Using the following code:

[code]

I get the following error:

```No transport could be initialized successfully. Try specifying a different transport or none at all for auto initialization.```

[2018-03-15 08:49] herarya opened #44 "not work in background / app close"
hi, @olofd  how to run received push from server when app close ?
i try run code on app state "background" signal r not received

[2018-03-29 18:46] j-mendez commented on #44
It should be used only when state is active.

[2018-04-11 04:20] Shhzdmrz commented on #44
@jeffreymendez1993  So you mean even when the app is in background state it will still not work?

[2018-04-11 13:07] utpal-patel commented on #44
So it only works when app in foreground. When app goes background for a period of time (< 2 min observed) it may works but when you get screen lock for a time and unlock it, It will stop working.

[2018-05-10 03:41] PrimeObjects opened #45 "Does it work with the new released AzureSignalR service?"

[2018-05-14 08:06] daominhsangvn commented on #40
I managed to fixed this issue, please see my package
https://www.npmjs.com/package/%40nois%2Freact-native-signalr
Check `example.js` file in github for example code

[2018-05-26 11:53] chinthaka24 commented on #38
Issue with the http://localhost:8888

connection = signalr.hubConnection('http://localhost:8888/');

Try with your network IP address and it will solve your issue.

windows command prompt (cmd) enter ipconfig

Example,
connection = signalr.hubConnection('http://192.168.1.20:8888/');

Also check followings,

- host SignalR in Local IIS not IIS Express
- enable Web Socket in IIS (Enable Windows Feat

[2018-05-28 15:18] mstf0ta-app opened #46 "how can change state from on(event)"
hello
my code is
proxy.on('changeNotificationslist', function (data) {
this.setState({notifications: this.state.notifications.push(data)})
         });
but it give error that setState is not a function
is there any solution for state inside (event)

thanks

[2018-06-14 05:38] chauhan-saurabh opened #47 ".NET core 2.0 support"

[2018-07-04 00:57] joshua-tmc opened #48 "How is reconnection handled?"
I've done some testing where I shut down the signalr server API then restart it again. But the client hub doesn't seem to reconnect properly.  In fact I actually get the reconnected event triggered while the server is still off. Is there anything special I need to do?

[2018-07-20 13:45] divyanshupathak94 commented on #48
I also need this functionality in my app **URGENTLY**. Please provide some suggestions.

Thanks.

[2018-07-23 16:31] dkrockcom opened #49 "IOS - SignalR Connection break when app move in background."
Implementing SignalR in IOS React native app for Remote push notification.
I have an issue when app move in the background then SignalR connection breaked.
When App again in the foreground that working properly.

Please help for that.

[2018-07-30 13:53] divyanshupathak94 commented on #49
Any Update on this @olofd ?

[2018-07-30 13:54] divyanshupathak94 commented on #48
Any update on this @olofd ?

[2018-08-01 18:17] flashimxd commented on #26
connection.stop() not working as well....

[2018-08-24 11:23] bartekkaminski opened #50 "Does it support Net Core 2.1 or later?"
What latest version does it support?
I am trying to connect in a native native (android) application with a server in Net Core 2.1 and it does not work. There is a chance that it does not support

[2018-08-28 13:31] AE0011 opened #51 "get 'undefined' from server in invoke"
`
proxy.invoke(...)
                .done((directResponse) => {
                    console.log('direct-response-from-server', directResponse);
                  // directResponse is always 'undefined'!! but server will do that func correctly
                }).fail((e) => {
                console.warn('Something went wrong when calling server, it might not be up and running?: ' + e)

[2018-08-29 09:39] flashimxd commented on #49
I've been facing the same problem, any workaround ??

[2018-09-27 11:26] anjumpaul opened #52 "cannot receive message"
invoke works but cannot receive messages real-time

[2018-09-30 22:56] kadirguloglu opened #53 "Timer Error"
Can i warning timer error.

[<img src="https://image.ibb.co/hHcADe/Capture.png" alt="Capture" border="0">](url)

[2019-01-29 13:41] hdillon commented on #26
connection.stop() not working.. there is any way?

[2019-01-30 10:24] hdillon commented on #26
I had to fork the project and add the stop function.

[2019-02-20 13:10] aligenc commented on #46
You can try something like this.

`this.setState({ notifications: [...this.state.notifications, data] });`

[2019-03-05 18:12] smemamian commented on #38
I have the same error.

[2019-06-10 12:19] kalraneeraj24550 opened #54 "Try specifying a different transport or none at all for auto initialization."
i am getting this an error while making a connection with signalR.

anyome please help me

[2019-08-06 19:31] wojtekhorembala opened #55 "How to send token or other data"
Hi, in the web application I use signalR for angular
(https://www.npmjs.com/package/@aspnet/signalr)

When i connected, I send token, example from web app. (accessTokenFactory)
[code]

This is what my code looks like in a web application, can anyone help me open it in this library?

[2019-08-08 13:56] SowinskiMateusz commented on #55
I have the same problem.

[2019-08-08 14:23] SowinskiMateusz commented on #55
Propably I found the solution:

`const connection = signalr.hubConnection('url', {
                                headers: {
                                    'Authorization': `Bearer ${valueObj.token}`,
                                    'Content-Type': 'text/plain;charset=UTF-8'
                                }
                            }`

[2019-08-09 10:06] wojtekhorembala commented on #55
I used lib from microsoft and this run :P
https://docs.microsoft.com/pl-pl/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2

[2019-08-28 08:58] sujanmah062 commented on #38
I have the same issue

package.json
"{
  "name": "ChatApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependencies": {

    "react": "16.8.6",
    "react-native": "0.60.5",
    "react-native-signalr": "^1.0.6"
  },
  "devDependencies": {
    "@babel/core": "^7.5.5",
    "@babel/runtime": "^7.5.5",

[2019-11-09 04:41] sepidar902 commented on #52
when you register a listener with **your_proxy.on** function ,you must define a function with required parameters and **_bind_** it on constructor and then pass it to **your_proxy.on** function like bellow:
[code]

[2019-11-09 05:05] sepidar902 commented on #40
Duplicate of #https://github.com/olofd/react-native-signalr/issues/52#issuecomment-552065862

[2019-12-10 12:36] Harshitha91 opened #56 "Signal R not working with ANDROID STORE VERSION"
I have created an app with Signal R 1.0.6. When I make an APK and test it locally, Singnal R is perfectly working.

But once I put it to the store, the Singal R functions are not working. To put to store, i am using the bundle function.

Is there any dependency/automatic changes when i Bundle it and put it to store. Could you please help me with this issue.

[2019-12-12 03:51] shan229 commented on #50
did u deploy the app into store. I also find the same issue.

[2020-02-29 07:48] hardikcc opened #57 "Unable to call signalR method"
I am trying to connect signalR from react-native app. If I open the connection, before  registering proxy, connection happens. When I register proxy before the connection is opened, it fails the negotiation. If I register the proxy.on after connection. function is not being called. Please advise.

`import React, {Component} from 'react';
import {Text, StyleSheet, View} from 'react-native';

import

[2020-03-01 00:26] #57 closed, assigned to nobody

[2020-05-26 20:32] sewil opened #58 "Replace deprecated dependency ms-signalr-client"
This dependency is using a deprecated dependency `ms-signalr-client`, which is causing a warning message for anyone that uses the dependency:
![](https://i.imgur.com/020KNSC.png)

The problem can be found in `jquery.signalR.js` on line 429, where the duration is set to 300000ms, well over the react-native setInterval limit of 60000ms.

[2020-05-29 21:07] glitch100 commented on #58
Would be good to see this updated

[2020-07-02 10:15] hungnv2010 commented on #48
same problem?

[2020-07-20 12:28] idanlevi1 commented on #53
Did you solve it?

[2020-09-01 07:57] gilshaan opened #59 "Failed - Error: Error during negotiation request."
**Error**

[code]

**My Code**

[code]

[2020-09-03 08:31] Muzzamil75 commented on #26
Connection.stop() now working . I had to fork the project and added the stop method. Working smoothly and fine now !
Give star if got helped :)

[2020-09-03 22:32] GhayoorUlHaq commented on #59
Same issue

[2020-09-03 22:47] GhayoorUlHaq commented on #59
I think **https://react-native-signalr.olofdahlbom.se** is not working that's why getting this.

[2020-09-10 14:55] Gniarke opened #61 "Autoreconnect feature"
Hi,

possible to have the equivalent of js signalr client "@microsoft/signalr" autoreconnect feature ?
const connection = new signalR.HubConnectionBuilder()
    .withUrl("/chatHub")
    **.withAutomaticReconnect()**
    .build();
I didn't find any disconnect catcher, so after a while, when connection is lost, i can't do anything to reconnect the user.

[2020-09-22 14:57] amir-gorji commented on #59
This package is outdated and it's not working out with the latest signalR functionalities.
You can use `@aspnet/signalr`.
It's an official package working also on the React Native.

[2020-10-16 12:05] jamesdward commented on #61
Hi @Gniarke

I'd advise looking at the actual [SignalR docs](https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client)

Although a disconnect method isn't mentioned in the react-native-signalr documentation (only on 'connectionSlow'), as it mainly acts as a bridge between react native and jQuery signalR, the other methods also work such as on 'disc

[2020-12-17 02:43] apanchati opened #62 "TypeError: Cannot set property userAgent of #<Navigator> which has only a getter"
Hi,
I am getting "**TypeError: Cannot set property userAgent of #<Navigator> which has only a getter**" on line 15 of index.js file.

Below line is from the **\node_modules\react-native-signalr\src\index.js** file where i am getting the error.
window.navigator.userAgent = window.navigator.userAgent || "react-native";

I am trying to create an android app using expo. I get this error when testing i

[2021-01-21 05:24] #52 closed, assigned to nobody

[2021-01-27 19:53] OnenBatuhan opened #63 "hello"
Im get this error help me pls .

SignalR error: You are using a version of the client that isn't compatible with the server. Client version 1.5, server version 1.2.

[2021-02-12 02:31] JosephHubbard opened #64 "Forgotten Package"
Since the last update was over 3 years ago, I'm assuming this package has joined the growing majority of React Native packages that were started and promptly forgotten about.

[2021-03-07 20:11] RamzesUAA commented on #49
Hello from 2021)) How can I solve it? @dkrockcom @divyanshupathak94 @flashimxd

[2021-04-18 08:24] hemalrathod opened #65 "On Screen Change, Event Is Still fired"
In React Native, when I leave the screen, when server calls the method of that screen, it still fires on mobile app. Also if I go back to same screen again, the event is registered for second time and the react native screen event fires for 2 times when invoked from server.

Also while receiving data from server, I do find some chokking/hanging/freezing on data sending or receiving. I don't know w

[2021-10-08 13:06] pankajdreamsoft commented on #65
Anyone have any solution on this problem? I am facing same issue still on the server side it's hanging.

[2021-10-08 13:07] kadirguloglu commented on #65
My problems were solved with package @microsoft/signalr

[2021-10-08 13:11] pankajdreamsoft commented on #65
Ooo.. that's cool ... let me check with this npm (@microsoft/signalr) package.

[2021-10-11 09:30] pankajdreamsoft commented on #65
@kadirguloglu: Is this NPM available for React Native Mobile app ? As i checked it's available for Node.js, Browser, WebWorker. So could use in mobile App (React Native).

[2021-10-11 12:02] kadirguloglu commented on #65
yes it can be used and it works well. I have tested. I have apps @pankajdreamsoft

[2021-10-11 12:32] VijaySharma12 commented on #65
Send me Your demo code @kadirguloglu

[2021-10-11 12:45] kadirguloglu commented on #65
@VijaySharma12  @pankajdreamsoft

[code]

[2022-06-08 04:23] fukemy opened #66 "is this lib dead?"
is this lib dead?

[2022-10-26 07:58] fukemy commented on #66
DEAD LIB